@import "./variables";

.underline-btn{
	display: inline-block;
  	padding: 0.6em 0.1em;
  	border-radius: 0;
  	text-decoration: none;
	position: relative;
	&:before,
	&:after{
		content: '';
    	display: block;
    	position: absolute;
    	height: 2px;
    	width: 0;

	}
	&:before{
		transition: width 0s ease,background .4s ease;
		left: 0;
		right: 0;
    	bottom: 2px;
	}
	&:after{
		right: 2.2%;
    	bottom: 2px;
    	background: $orange;
		transition: width .6s ease;
	}
	
	&:hover{
		&:before{
			width: 97.8%;
			background: $orange;
    		transition: width .6s ease;
		}
		&:after{
			width: 97.8%;
    		background: 0 0;
			transition: all 0s ease;
		}
	}
}